.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 12px;
}

.back__icon {
    transform: scale(2) translateX(15px);
    border-radius: 12px;
    background-image: linear-gradient(45deg, #1f1f9b, #610c96);
    color: #aeae16;
}

.media__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.media__img {
    width: 100%;
}

.media__selected--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.media__plot {
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 550px) {
    .media__title {
        padding-left: 12px;
    }
}